*, *::before, *::after {
        margin: 0px;   
        padding: 0;
        box-sizing: border-box;
         color: #333333;
    }

body {
        font-family: "Poppins", sans-serif;
        background: #FFF;
      }

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section{
    margin: 0em 1em;
}

.section-title{
    margin: 4em 1em 4em 1em;
}

/* nav */
.navbar-container{
    padding: 1em;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    font-size: 36px;
    font-weight: 800;
}

.nav-toggle {
    cursor: pointer;
    border: none;
    width: 3em;
    height: 3em;
    padding: 0em;
    background: none;
}

/* hamburger */
.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 4px;
    width: 35px;
    border-radius: 20%;
    background: black;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-10px);
}

.hamburger::after {
    transform: translateY(6px);
}
/* end of hamburger */
.navbar-links{
    visibility: hidden;
    height: 0;
    position: absolute;
}

.navbar-links--visible{
    visibility: visible;
    height: auto;
    position: relative;
    text-align: center;
    height: 100vh;
}

.nav-item{
    padding: 2em;
    font-size: 1.5em;
}

.nav-item:hover {
    font-size: 1.6em;
    transition: all 0.5s ease-in-out;
} 

/* section hero */
.hero-txt, .hero-contact-container{
    margin: 1em 1em;
}

.hero-txt > p {
    color: hsla(202, 71%, 52%, 1);
}

.hero-banner{
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.hero-contact-container > p {
    margin: 1.4em 0;
    color: hsla(0, 0%, 31%, 1);
    font-weight: 400;
    font-size: 0.9em;
}
    /* input field */
.input-label{
    color: hsla(0, 0%, 51%, 1);
    font-weight: 300;
    font-size: 0.8em;
    margin-left: 0.4em;
}

.input-wrapper{
    height: 50px;
    background: hsla(0, 0%, 95%, 1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-email{
   flex-grow: 2;
   padding: 1em;
   border: none;
   background: transparent;
   font-size: 1em;
   outline: none;
}

.input-email::placeholder{
    color: hsla(0, 0%, 74%, 1);
    font-family: "Poppins", sans-serif;
}

.btn--submit {
    background-color: hsla(202, 71%, 52%, 1);
    border: none;
    border-radius: 12px;
    padding: 0 2em;
    margin-right: 0.2em;
    height: 90%;
    color:hsla(0, 0%, 95%, 1);
}

.btn--submit:hover{
    background-color: hsla(0, 0%, 74%, 1);
    color: hsla(0, 0%, 51%, 1);
}

/* section offers */
.offer-container {
     margin: 1em 0em;
}

.offer-item{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.4em;
    padding: 2em 1em;
}

.offer-item:hover{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}

.blue-icon,
.green-icon,
.red-icon{
    padding: 0.5em;
    border-radius: 10px;
    color: white;
}

.blue-icon{
    background: hsla(202, 71%, 52%, 1);
}
.green-icon{
    background: hsla(145, 63%, 42%, 1);
}
.red-icon{
    background: hsla(0, 79%, 63%, 1);
}

.btn{
    border: none;
    padding: 0.8em 1em;
    border-radius: 10px;
    color: hsla(0, 0%, 51%, 1);
}

.btn:hover{
    background: hsla(202, 71%, 52%, 1);
    color: white;
}

/* section projects */
.projects-grid{
    display: grid;
    gap: 1.8em;
}

.projects-grid > div > img {
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
}

.projects-grid > div > p {
    color: hsla(0, 0%, 51%, 1);
    font-weight: 300;
}

.see-more-btn {
    background: none;
    border: none;
    color:hsla(202, 71%, 52%, 1);
    display: flex;
    align-items: center;
    font-size: 1em;
}

.see-more-btn > span {
    color:hsla(202, 71%, 52%, 1);
}

/* section team */
.team-section-txt{
    margin-top: 4em;
}

.team-section-txt > p:nth-child(1){
    color: hsla(0, 79%, 63%, 1);
}

.team-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
}

.team-grid-item{
    width: 100%;
    border-radius: 24px;
    padding: 0.4em;
}

.item-1{
    grid-column: 2;
}

.item-2{
    grid-column: 2;
    grid-row: 3;
}

.item-3{
    grid-row: 2 / 4;
}
/* section opinion */
.opinion-txt{
    margin-top: 4em;
    font-size: 1.4em;
}

.person-card-flex {
    margin: 2.5em 0 8em 0;
    display: flex;
    gap: 2em;
}

.person-card-flex > img {
    border-radius: 14px;
    width: 80px;
    height: auto;
}

.person-card-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.person-card-txt > p{
    font-weight: 300;
    color: hsla(0, 0%, 51%, 1);
}

/* footer */
footer {
    background: hsla(248, 35%, 8%, 1);
    color: hsla(0, 0%, 95%, 1);
    padding: 2em;   
}

.footer-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.footer-nav > li > a, 
.navbar-logo--footer,
.credits {
    color: hsla(0, 0%, 95%, 1);
}

.footer-nav {
    line-height: 2.2em;
}

.instagram-icon:hover,
.linkedin-icon:hover,
.twitter-icon:hover {
   filter:  invert(0.4) 
            sepia(1) 
            saturate(2.7) 
            hue-rotate(165.6deg) 
            brightness(0.85);
    transition: all 0.3s ease-out;
}

.credits{
    margin-top: 2em;
    text-align: center;
    font-weight: 300;
    font-size: 0.8em;
}

@media only screen and (min-width: 400px){
    section{
        margin: 0em 6em;
    }
    /* nav */
    .nav-toggle {
        display: none;
    }

    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-links {
        visibility: visible;
        position: relative;
        height: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
   
    .nav-item {
        padding: 0;
        font-size: 1em;
    }  
    /* hero */
    .hero-txt,
    .hero-contact-container {
        margin-left: 8em;
    }

    .hero-contact-container {
        max-width: 35%;
    }

    .section-title {
        max-width: 35%;
    }

    /* offers */
    .offer-container {
        display: flex;
        gap: 0.8em;
    }   

    /* grid */
    .projects-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 1fr 1fr 5% 1fr 1fr 1fr;
        column-gap: 1.5em;
    }

    .projects-grid > div >img {
        height: auto;
    }

    .projects-grid > div:nth-child(1){
        grid-row: 2 / 5;
    }
    .projects-grid > div:nth-child(2){
        grid-column: 2;
        grid-row: 1 / 4;
    }
    .projects-grid > div:nth-child(3){
        grid-column: 1;
        grid-row: 5 / 8;
    }
    .projects-grid >div:nth-child(4){
        grid-row: 4 / 7 ;
        grid-column: 2 / 3;
    }
    .see-more-btn {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
        justify-self: end;
        align-self: end;
    }
    /* team */
    .team-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4em;
    }

    .team-section-txt{
        margin-top: 0em;
    }

    /* opinion */
    .opinion-txt{
        max-width: 65%;
        font-size: 2em;
    }
    /* footer */
    .footer-flex{
        margin: 0em 5em;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
}  
